/* home */
#search-home{
    display: flex;
    position: relative;
    top:20px;
    left: 60px;
    border-radius: 20px;
    text-align: center;
}
.home-h2{
    position: absolute;
    top: 30%; left: 10%;
    transform: translate(-50%, -50%);
    color: rgb(196, 31, 31);font-size: 24px; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px 40px 5px 40px;
    border-radius: 10px; 
}
#contain-box-save{
    display: flex;
    justify-content: center;
}
#home-items{
    padding-left: 65px;   
    margin: -2px;
    padding: 60px 60px;
    display: flex;
    flex-direction: row; flex-wrap: wrap; gap: 40px; 
    background-color: bisque;  
}
#home-image:hover{ background-color: rgba(46, 68, 33, 0.741);}

#home-image{
    background-color: rgba(0, 0, 0, 0.14);
    padding: 20px;
    transform: var(--transition);
    border-radius: 20px;
    border: 1px solid black;
}
#home-image h3{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: black;
    font-size: calc(0.3vw + 2vh); 
}
#home-image img{
    border-radius: 40px;
    margin-top: 10px;
    filter: drop-shadow(2px 2px 20px rgb(3, 31, 31));
}
.Saved-save h2{
    position: absolute;
    top: 20%;left: 10%;
    transform: translate(-50%, -50%);
    color: rgb(22, 1, 1);
    font-size: 24px; 
    background: rgba(186, 181, 205, 0.5); 
    padding-top: 10px;  padding-bottom: 10px;
    padding-left: 20px; padding-right: 20px;
    border-radius: 10px;  border: 1px solid rgb(28, 25, 25);
}

/* read-recipe */
.read-cover{
  background-image: url("modern-cafe-menu-design-with-beverage.avif");
  background-size:cover; background-position: center;
  width: 80%; height: 120vh;
  /* image-orientation: flip; */
  position: relative;
  left: 220px; top: 30px;
  border-radius:40px;
}
.image-read{
    position:relative;
    top: 200px; right: 23px;
    width: 500px;height: 500px;
    border-radius: 20px;
    padding: 40px; padding: 50px 50px;
    border: 1px solid black;
}
.image-read img{
    border-radius: 20px;  margin-top: 10px;
    filter: drop-shadow(2px 2px 80px rgb(3, 31, 31));
}
.image-read h2{
    position: absolute;
    top: 85%; left: 50%;
    transform: translate(-50%, -50%);
    color: white;font-size: 40px; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    font-style: italic;
    border-radius: 40px; 
    width: 70%;
    text-align: center;
}
.read-cover h3{
background-color:white;
border-radius: 10px;
font-size: 25px;
width: 80%;
padding:10px;
position: relative;
left: 10%;
top: 60px;
}
.read-cover p{
    background-color:rgb(195, 177, 177);
    border-radius: 10px;
    font-size: 16px;
    width: 80%;
    padding:10px;
    position: relative;
    left: 10%;
    top: 60px;
    }
    
.read-cover h3,p:hover{
    background-color: rgba(219, 228, 214, 0.741); 
}
.read-cover button{
    position: relative;
    left: 57%;
    top:30px;
    width: 130px;
}

#read-recipe{
    transform: scale(0.7); /* Scales down content to 80% of its original size */
    transform-origin: 0 0;
    position: relative;
    top:50px;
    left:140px;
    width: 110%;
    height: 100vh;
    margin: -50px;
}

/* create-recipe*/
.Create-all{
    background-image: url("recipe-m.jpeg");
    background-size:cover; 
    background-position:center;
    width: 60%;
    position: relative;
    right: 520px;
    top:20px;
    border-radius: 20px;
}
.Create-all{
    position: relative;
    left: 25%;
    margin-top: 18px;
    transform: scale(0.8);
    transform-origin: 0 0;
}
#box-createform{
    position: relative;
    bottom: 18px;
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
    transform: translate(0%, 0%);
    color: white; 
    background: rgba(0, 0, 0, 0.5); 
    width: 125%;
    right: 30px;
}
#box-createform h3{
    text-align: center;
    color: bisque;
    font-size:xx-large;
}
#update-all img{
    position: absolute;
    top: 230px;
    right: 270px;
    width: 400px;
}
#box-updateform{
    position: relative;
    bottom: 0px;
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
    transform: translate(0%, 0%);
    color: white; 
    background: rgba(0, 0, 0, 0.5); 
}
#update-all h3{
    text-align: center;
    color: bisque;
    font-size:xx-large;
}
/* save-recipe */
#save-all{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 20px;
    transform: scale(0.8);
    transform-origin: 0 0;
    position: relative;
    left: 150px;
}
.save-border{
    border-radius: 20px;
    margin: 20px;
    padding: 40px; 
    transform: translate(0%, 5%);
}
.save-border img{
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
}
.saved h2{
    text-align: center;
    border-radius: 20px;
    position: relative;
    top: 30px; left: 20%;
    margin-bottom: 50px;
    color: white; 
    background: rgba(0, 0, 0, 0.5); 
    width:20%;

}
.saved h3{
    text-align: center ;
    color: whitesmoke;
    border: 1px solid rgb(9, 0, 0);
    background-color: rgb(68, 43, 16);
    border-radius: 10px ;
    padding: 5px;
}
.saved{
    background-image: url("book.webp");
    padding: 30px;   
    background-size:cover; background-position:center;
}
.saved button{
    margin-top: 20px;
    margin-left: 40px;
}
.save-border:hover{
    background-color: rgba(15, 16, 15, 0.741); 
}

/* log in  */
.login-all{
    background-image: url("login-page.jpg"); 
    background-size:cover; background-position:center;
    height: 100vh;
}
#login-box{
    position: relative;
    top: 100px;
    left: 100%;
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
    color: white; 
    background: rgba(0, 0, 0, 0.5); 
}
#login-box h3{
    text-align: center;
    font-style: italic;
}
.login-label{
    padding: 10px;}

/* sign in */
.signin-all{
    background-image: url("food-background.jpg"); 
    background-size:cover; background-position:center;
    height: 100vh;
    transform: scale(0.9999);
}
#signin-box{
    position: relative;
    top: 160px;
    left: 290%;
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
    color: white; 
    background: rgba(0, 0, 0, 0.5);  
}
#signin-box h3{
    text-align: center;
    font-style: italic;
}
.signin-label{
padding: 10px;
padding:20px;
}

